h2{
    background-color: black;
    color: white;
    padding: 20px;
}
p{  
    text-align: center;
    font-weight: bold;
}
span{
    color: blue;
}
.red{
    text-align: center;
    color: red;
    font-weight: bold;
}
body{
    border:1px solid black;
}